

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px;

  .header__row {
    @include flexbox();
    justify-content: center;
    align-items: center;
    height: 90px;

    nav.header__menu.menu {
      .menu__icon.icon-menu {
        span {}
        span {}
        span {}
      }
      .menu__body {
        .menu__list {
          @include flexbox();

          li {
            position: relative;
            padding: 0px 35.5px;
            &:nth-child(2){
              padding: 0px 110px 0px 35.5px;
            }
            &:nth-child(3){
              padding: 0px 35.5px 0px 110px;
            }
            // добавляем точки между пунктами меню
            &:after{
              content: '';
              width: 4px;
              height: 4px;
              background-color: #4d4959;
              border-radius: 50%;
              position: absolute;
              right: 0;
              top: 50%;
              margin: -2px 0px 0px 0px;
            }
            // а у второго и последнего элементов убираем точку
            &:last-child{
              &:after{
                display: none;
              }
            }
            &:nth-child(2){
              &:after{
                display: none;
              }
            }


            .menu__link {
              font-family: Lato;
              font-size: 13px;
              line-height: 1.2;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 0.2em;
              color: #4d4959;
            }
          }
        }
      }
    }
    .header__logo {
      position: absolute;
      left: 50%;
      top: 0;
      @include tr(-50%,0px,0px);
      img {}
    }
  }
}

